*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(#242424, black);
    color: white;
    background-position: center;
    background-repeat: repeat;
    position: relative;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 999;
    font-size: 24px;
}

.nav-bar ol li {
    opacity: 0;
    transition: all .5s ease-in-out;
    color: white;
}

.nav-bar ol {
    display: flex;
    gap: 2rem;
    margin: 1rem;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 430px) {
    .nav-bar ol{
        position: fixed;
        bottom: 0;
        display: flex;
        gap: 1rem;
    }

    .nav-bar ol li {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-bar ol li img {
        filter: invert(100%);
    }
}

.home-container {
    display: flex;
    top: 0;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
    pointer-events: none;
}

.star-glow {
    animation: glow 2s alternate infinite;
}


@keyframes glow {
    0% { opacity: .2; transform: scale(1);}
    100% { opacity: 1; transform: scale(1.3);}
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;;
    height: 580px;
}

.earth-orbit,
.earth,
.moon-orbit,
.moon,
.venus-orbit,
.venus,
.mercury-orbit,
.mercury, .sun {
    border-radius: 100%;
    position: absolute;
}

.sun {
    width: 50px;
    height: 50px;
    box-shadow: 0px 0px 150px 25px rgb(243, 172, 40), 0px 0px 50px 5px rgb(233, 176, 71);
    background: linear-gradient(to right, orange, orange);
}

.mercury-orbit {
    opacity: 75%;
    border: 2px solid lightgrey;
    width: 145px;
    height: 145px;
    animation: orbit 3s linear infinite;
}

.mercury {
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 25px 10px rgba(196, 196, 156, 0.89);
    transform: translate(100px);
    background: linear-gradient(to top, palegoldenrod, #917c64);
}

.venus-orbit {
    opacity: 75%;
    border: 2px solid lightgrey;
    width: 275px;
    height: 275px;
    animation: orbit 5s linear infinite;
}

.venus {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 25px 10px rgba(218, 176, 60, 0.829);
    transform: translate(190px);
    background: linear-gradient(to top, #694817, #ac6b0a);
}

.earth-orbit {
    opacity: 75%;
    border: 2px solid lightgrey;
    width: 400px;
    height: 400px;
    animation: orbit 7s linear infinite;
}

.earth {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0px 0px 25px 10px rgba(94, 207, 198, 0.829);
    transform: translate(260px);
    background: linear-gradient(to top, #40b4c9, #2cc973);
}

.moon-orbit {
    opacity: 75%;
    animation: orbit 10s linear infinite;
    width: 75px;
    height: 75px;
}

.moon {
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 5px 2px rgb(255, 255, 255, 0.2);
    transform: translate(40px);
    background: linear-gradient(to top, grey, darkgrey);
}

@keyframes orbit {
    0% { transform: rotate(0deg);}
    
    100% { transform: rotate(360deg);}
}

@media screen and (max-width: 530px){
   
    .mercury-orbit {
        width: 110px;
        height: 110px;
    }

    .mercury {
        transform: translate(75px);
    }

    .venus-orbit {
        width: 170px;
        height: 170px;
    }

    .venus {
        transform: translate(115px);
    }

    .earth-orbit {
        width: 220px;
        height: 220px;
    }

    .earth {
        transform: translate(155px);
    }
}

.about-container {
    margin-top: 690px;
    background-color: #3a1f7a;
    padding: 50px;
}

.container {
    width: 63%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: inset 0 0 40px 15px black;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(94, 38, 141), rgb(206, 153, 55));
}

.about-me {
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.about-me h1 {
    animation: 2s fadeUp;
}

.border {
    animation: toRight 1.5s linear forwards;
    border-top: 2px solid #fefefe;
    margin-bottom: 15px;
}

@keyframes fadeUp {
    0% {opacity: 0; transform: translate3d(0, 100%, 0);}
    70% { opacity: 0;transform: translate3d(0, 80%, 0); }
    100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes toRight {
    0% { width: 0;}
    100% { width: 100%;}
}

.about-me p:nth-child(4) {
    margin-bottom: 20px;
}
.about-me p:nth-child(3), .about-me p:nth-child(4) {
    animation: fadeInLeft 1.5s;
}

.about-me p:nth-child(5), .about-me p:nth-child(6) {
    animation: fadeInRight 1.5s;
}

.about-me p:nth-child(6) {
    margin-bottom: 20px;
}

.about-me p:nth-child(7), .about-me p:nth-child(8) {
    animation: fadeInUp 1.8s;
}


@keyframes fadeInLeft {
    0% {opacity: 0; transform: translate3d(-100%, 0, 0);}
    100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes fadeInRight {
    0% {opacity: 0; transform: translate3d(100%, 0, 0);}
    100% {opacity: 1; transform: translate3d(0, 0, 0);}
}

@keyframes fadeInUp {
    0% {opacity: 0; transform: translate3d(0, 100%, 0);}
    100% {opacity: 1; transform: translate3d(0, 0, 0);}
}


.about-me p:nth-child(4), .about-me p:nth-child(5) {
    transition: right 1s  cubic-bezier(0.215, 0.810, 0.355, 1.05);
}

.about-me-image {
    transition: opacity .5s ease;
}

.about-me-image img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}

.container-skills {
    padding: 20px;
    margin-top: 40px;
}

.carousel-wrap {
    padding: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: inset 0 0 40px 10px black;
    background-color: #242424;
    border-radius: 20px;
}

.title {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    left: 130px;
    top: 0;
    font-size: 24px;
    order: -1;
}

.title h1 {
    animation: 2s fadeUp;
}

.carousel {
    width: 100%;
    align-self: center;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
}

.slide {
    animation: transform 10s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    width: 200px;
    height: auto;
}

@keyframes transform {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(8 * 200px * -1)); }
}

.carousel:hover .slide {
    animation-play-state:paused ;
}

@media screen and (max-width: 1070px) {
    .about-me-image {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .about-me {
        font-size: 20px;
    }

    .carousel-wrap {
        width: 100%; 
    }

    .carousel img {
        width: 100px;
        height: auto;
    }

    @keyframes transform {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(8 * 100px * -1)); }
    }
}

